{% extends 'job/main.html' %}
{% block title %} Login {% endblock %}


{% block content%}

<style>
	body{
		background: rgb(222,220,11);
		background: linear-gradient(90deg, rgba(222,220,11,1) 0%, rgba(128,228,85,1) 50%, rgba(245,137,154,1) 100%);
	}
	.content {
  		background: rgb(0, 0, 0); /* Fallback color */
  		background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  		bottom: 0;
  		color: #f1f1f1; /* Grey text */
  		width: 50%; /* Full width */
  		margin-top: 50px;
  		padding: 60px; /* Some padding */
  	}
</style>

<center>
<div class="content">
	<h1>Login</h1>
	<form>
		
	</form>

</div>
</center>
{% endblock %}
